<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
</head>

<body>

  <div class="header">Perfil Profesional</div>
  <p>Soy desarrolladora web</p>

  <img
    src="https://media.licdn.com/dms/image/D4E03AQGopsep6x1SAA/profile-displayphoto-shrink_800_800/0/1675436822534?e=2147483647&v=beta&t=rpBtop0vqjPp0e6MUTKNP0DDmglBfyYfKeag0AFogec"
    alt="Profile Picture" class="profile-image" width="150" height="150">

  <div class="about-section">
    <h2>About me</h2>
    <p>Con más de 9 años de experiencia laboral en el área contable, actualmente estoy en proceso de
      transición de carrera hacia la Ingeniería de Sistemas y Desarrollo Web Full Stack Java. Me
      siento particularmente interesada en el Frontend y estoy dispuesta a aprender y crecer en esta
      área.

      Soy una persona dedicada, perseverante y creativa que está en búsqueda de oportunidades para
      crecer laboral, personal y profesionalmente en el área de las Tecnologías de la Información
      (TI). Busco trabajar y aprender de las personas que me acompañan en el proceso diario de
      trabajo.

      Mi formación y experiencia en el área contable me ha permitido desarrollar habilidades
      valiosas como el trabajo en equipo, la resolución de problemas y la atención al detalle.
      Ahora, como estudiante de ingeniería de sistemas, estoy aprendiendo nuevas habilidades
      técnicas, como la programación, el diseño de bases de datos y la gestión de proyectos.

      Mi actitud de aprendizaje, habilidades y experiencias previas, me permitirán contribuir de
      manera efectiva en un equipo de trabajo y aportar valor en la implementación de soluciones
      tecnológicas.</p>
    <p>Image from Freepik</p>
  </div>

  <div class="details-section">
    <h2>Detalles</h2>
    <p><strong>Name:</strong> Karen Jiliam Cortes Navarro</p>
    <p><strong>Age:</strong> 30 años</p>
    <p><strong>Location:</strong> Bogotá - Colombia</p>
  </div>

  <div class="social-icons">
    <a href="https://www.linkedin.com/in/karenjiliamcortesnavarro/"><img
        src="assets/linkedinIco.png" alt="linkedin"></a>
    <a href="https://www.instagram.com/karu_cortes/"><img
        src="assets/instagramIco.png"
        alt="instagram"></a>
    <a href="https://github.com/Karu-Cortes"><img
        src="assets/githubIco.png" alt="github"></a>